/* Blog page stylesheet */

html, body {
    height:90%;
    font-family: 'Courier New', Arial, monospace;
    font-size: 16px;
    font-weight: 300;
}


/* Header, title, footer, & navbar */

.home-grid{
    height:100%;
    width: auto;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 26% auto auto;
    background-color: white;
}


.title {
    font-size: 150%;
    font-weight: lighter;
    cursor: default;
    padding-left: 1.5em;
    padding-bottom: 0;
    text-decoration: underline black 2px solid;
}

.subtitle{
    font-weight: lighter;
    cursor: default;
    padding-left: 5em;
    padding-top: 0;
}

main {
    height: 100%;
    margin-left: 10px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    position: fixed;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: small;
}

.nav-grid{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin:0;
    right: 0;
    top:0;
    bottom: 0;
    width: 16em;
    position: fixed;
    z-index: 2;
    background-color: black;
    overflow: hidden;
}


.nav-menu {
    min-width: 100%;
    list-style-type: none;
    overflow: hidden;
}

.nav-menu li{
    padding-left: 10px;
    margin:0;
}

.nav-menu a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    padding: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-menu a:hover{
    box-shadow: inset 190px 0 0 0 white;
    color: black;
}

.blog-grid{
    padding-left: 10%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.post-grid{
    display: block;
    width: 75%;
    margin: 30px 10px 50px 10px;
    padding: 40px 20px 50px 40px;
    box-shadow: 4px 4px 20px gray;
    transition: 0.5s ease;
}

.post-grid:hover{
    box-shadow: 4px 4px 20px black;
}

h3{
    font-weight: bold;
    font-family: 'Tahoma', Arial, monospace;
    padding-bottom: 5px;
}

p {
    font-weight: lighter;
    font-family: 'Tahoma', Arial, monospace;
    color: #707070;
}

.blog-grid a{
    text-decoration: none;
    color: black;
}

.blog-grid a:hover{
    text-decoration: none;
    color: black;
}

.readmore {
    font-family: 'Courier New', Arial, monospace;
    margin-top: 1.6em;
    padding:2%;
    display: block;
    float: right;
    color: white;
    background-color: black;
}

.blog-date {
    font-family: 'Courier New', Arial, monospace;
    font-weight: bold;
    margin-top: 1em;
    padding:2%;
    display: block;
    color: white;
    background-color: black;
}


.post{
    margin: 5em 5em 10em 2em;
}

.next-post, .last-post {
    margin-top: 3em;
}


.next-post a{
    background: black;
    color: white;
    display: block;
    float: right;
    text-align: center;
    margin: 10px 20px 20px 10px;
    padding: 10px 30px 10px 30px;
    transition: 0.5s ease;
}

.next-post a:hover{
    background: #524d4d;
    color: white;
}

.last-post a {
    float: left;
    background: black;
    color: white;
    display: block;
    text-align: center;
    margin: 10px 20px 20px 10px;
    padding: 10px 30px 10px 30px;
    transition: 0.5s ease;
}

.last-post a:hover{
    background: #524d4d;
    color: white;
}

.post-img {
    text-align: center;
}

.post-img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

